@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
}

#left {
  width: 22%;
  border-right: 2px solid #d63031;
  padding: 20px 16px 0px 16px;
  position: fixed;
  top: 0;
  min-height: 100vh;
}

#right {
  width: calc(100% - 22%);
  border-left: 2px solid #d63031;
  padding: 20px 16px 0px 16px;
  position: absolute;
  left: 22%;
  min-height: 100vh;
}

.top-text-one {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Pacifico', cursive;
  border-bottom: 4px solid #d63031;
}

.top-text-two {
  font-family: 'Pacifico', cursive;
  margin-top: -20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 19px;
}

.project {
  margin-top: 12px;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #dcdde1;
  border: none;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

.project:active {
  background-color: #b0b3b8;
}

.project-tab {
  width: 100%;
  height: 36px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.p-name {
  width: 60%;
  height: 32px;
  border-radius: 10px;
  padding: 0px 5px;
  line-height: 32px;
  border: none;
  outline: 2px solid #b0b3b8;
  margin-right: 5px;
  margin-left: 3px;
}

.tab-house {
  width: 85%;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.tab-house p {
  line-height: 1;
}

.btn {
  width: 18%;
  height: 32px;
  border-radius: 18px;
  border: 2px solid #b0b3b8;
  background-color: white;
  line-height: 28px;
  transition: background-color 0.3s ease;
}

.btn:active {
  background-color: #b0b3b8;
}

.mark {
  color: #28a745;
  font-size: 16px;
  font-weight: 700;
}

.cancel {
  color: #dc3545;
  font-size: 16px;
}

.project-cancel,
.cancel-house {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.3s ease;
}

.project-cancel:hover {
  font-size: 19px;
  color: #dc3545;
}

.top-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #d63031; 
  padding: 20px 10px 0px 10px;
  position: sticky;
  margin-top: -20px;
  top: 0;
  background-color: white;
}

/* .content-container {
  border: 3px solid;
} */

/* .content-area {
  display: flex;
  border: 3px solid blue;
} */

.top-task {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Pacifico', cursive;
}

.add-task {
  width: 150px;
  height: 38px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  display: none;
}

.add-task:active {
  background-color: #C0C0C0;
}

.slide-form {
  position: fixed;
  top: 99px;
  right: -280px;
  width: 280px;
  border: 4px solid #d63031;
  /* border: 4px solid pink; */
  height: 100%;
  background-color: white;
  transition: right 0.6s ease;
  padding: 0px 10px 10px 10px;
}

.closeBtn {
  display: flex;
  padding: 5px;
  height: 40px;
  margin-bottom: 20px;
}

.x-mark {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 16px;
  width: 45px;
  border-radius: 40px;
}

.x-mark:hover {
  color: #dc3545;
  font-size: 23px;
}

.labe1,
.labe2,
.labe3,
.class-date,
.select-label {
  font-weight: 500;
  display: block;
  /* font-family: 'Pacifico', cursive; */
  letter-spacing: 1px;
  font-style: uppercase;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: -2px;
}

.form-house {
  width: 100%;
  padding: 5px;
}

textarea {
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px;
  border: none;
  outline: 1px solid black;
}

#addTitle,
#addReminder {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: 1px solid black;
  padding: 4px;
  font-size: 12px;
}

.form-house input,
.form-house textarea {
  margin: 3px 0px;
}

.date-class {
  width: 100%;
  border: none;
  outline: 1px solid black;
  border-radius: 5px;
  padding: 1px 5px;
}

.send-btn {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  width: 115px;
  height: 28px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
}

.add-btn:active {
  background-color: #C0C0C0;
}

.todo-div {
  width: 280px;
  border: 3px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 0px 12px 20px 12px;
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
}

.content-area {
  width: 100%;
  padding: 20px 0px 20px 6px;
  display: flex;
  flex-wrap: wrap;
}

.before {
  font-size: 13px;
  font-weight: 700;
  display: block;
}

.tab-btn {
  width: 100%;
  height: 30px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 96px;
  height: 24px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

.tab:active {
  background-color: #C0C0C0;
}

@media (max-width: 600px) {
  #right {
    padding: 10px 7px 0px 7px;
    width: 68%;
    margin-left: 10%;
  }

  #left {
    width: 32%;
    padding: 10px 7px 0px 7px;
  }

  .content-area {
    /* padding: 20px 0px 20px 0px; */
  }

  .top-text-one,
  .top-task {
    font-size: 25px;
  }
  
  .top-text-one {
    padding-left: 10px;
  }

  .add-task {
    width: 70px;
    height: 22px;
    font-size: 10px;
  }

  .tab-house {
    font-size: 9px;
  }

  .project-tab {
    height: 27px;
  }

  .top-name {
    padding: 10px 10px 0px 5px;
  }

  .project {
    height: 27px;
    font-size: 10px;
  }

  .project-cancel {
    font-size: 9px;
    transition: all 0.3s ease;
  }

  .project-cancel:hover {
    font-size: 11px;
    color: #dc3545;
  }

  .slide-form {
    top: 54px;
    width: calc(100% - 32%);
  }

  .todo-div {
    font-size: 10px;
    margin: 0px 8px 12px 3px;
  }

  .before {
    font-size: 11px;
    margin-top: 2px;
  }

  .tab {
    width: 80px;
    height: 20px;
    font-size: 8px;
  }

  .p-name {
    width: 55%;
    font-size: 9px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #b0b3b8;
  }

  .btn {
    height: 24px;
    border-radius: 8px;
    border: 1px solid #b0b3b8;
    width: 20%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .labe1,
  .labe2,
  .labe3,
  .class-date,
  .select-label {
    font-size: 11px;
  }

  #addTitle,
  #addDesc,
  #addReminder,
  #date,
  #selectOption {
    font-size: 9px;
  }

  .add-btn {
    width: 75px;
    height: 23px;
    border-radius: 8px;
    font-size: 10px;
  }
}